<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/865bc89a-da91-4ffc-8f5f-de0247e0b6a5/resourcegroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/elifatli</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WEU</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://elifatli.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>elifatli.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>elifatli</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$elifatli</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExpenseApplication.Entities, ExpenseApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:expenseapplicationdbserver.database.windows.net,1433;Initial Catalog=ExpenseApplication_db;User ID=filee2707@expenseapplicationdbserver;Password=Kekolas&lt;3Filee" Name="Data Source=tcp:expenseapplicationdbserver.database.windows.net,1433;Initial Catalog=ExpenseApplication_db;User Id=filee2707@expenseapplicationdbserver;Password=Kekolas&lt;3Filee" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExpenseApplication.Models.ApplicationDbContext, ExpenseApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:expenseapplicationdbserver.database.windows.net,1433;Initial Catalog=ExpenseApplication_db;User Id=filee2707@expenseapplicationdbserver;Password=Kekolas&lt;3Filee</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
  </ItemGroup>
</Project>